N8n-workflow with webhook/ChatGPT Chatbot with Webhook Integration and Onsite Testing.JSON
{
  "name": "ChatGPT Chatbot with Webhook Integration and Onsite Testing",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋 I'm your AI assistant. How can I help you today?",
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "b5013520-6da2-41b4-8200-76e8aeb8b34b",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        320,
        304
      ],
      "webhookId": "bc5e9f66-6bb0-4b06-938d-5b489f7fa238"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7da499fa-c439-414a-9272-a0f7f8c260b9",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        368,
        144
      ],
      "webhookId": "7dace246-119f-4e34-8e8a-0081b76b7c62"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Start every message with: \"This is N8n Workflow\". You are a helpful AI assistant. Provide clear, accurate, and friendly responses to user questions. If you don't know something, be honest about it."
        }
      },
      "id": "1a7220b6-6407-4a52-9fe8-003bdfb42c74",
      "name": "ChatGPT Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        240
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "86b5016f-d278-4b1a-9374-a698b5e0cf7d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        496
      ],
      "credentials": {
        "openAiApi": {
          "id": "8diaXpDTbSL4Tg4m",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "43ec1a9c-6540-4a75-b526-364033eb44ab",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        624,
        720
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.output } }}",
        "options": {}
      },
      "id": "1c438f2f-fff4-42e4-a15e-040d5254de85",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "chatInput",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId || \"default-session\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8cf7b057-5970-472d-9e06-ce0d996bc9a2",
      "name": "Format Webhook Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        288
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "ChatGPT Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ChatGPT Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "ChatGPT Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Trigger",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Format Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Webhook Data": {
      "main": [
        [
          {
            "node": "ChatGPT Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d17e7788-b462-45cc-9a4a-738c65c610b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ee8a4939286edb88bfd662ea8495fa70dd2dd33e6ca437065a9d43128ee1141"
  },
  "id": "xUKTBu2GhoXIoMNH",
  "tags": []
}
